#signal {
    width: calc(50vw - 2*var(--margin-primary));
    height: calc(70vh - 2*var(--margin-primary));
    padding: 1rem;
    background-color: var(--color-primary);
    padding: 3rem;
}

#signal .signal-element-title {
    font-size: 1.1rem;
    padding: 0.5rem 0 0.5rem 0;
    font-weight: 800;
}

#signal form {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: left;
}

#signal #objective-function {
    align-items:flex-start;
}

#signal .signal-element {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}