#demo-video iframe {
    border: none;
    outline: none;
}

#demo-video .demo-video-container {
    position: relative;
    overflow: hidden;
    width: calc(100vw - 35rem);
    height: calc(0.45*(100vw - 30rem));
}

#demo-video .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 70rem){
    #demo-video .demo-video-container{
        width: calc(100vw - 6rem);
        height: calc(0.45*(100vw - 6rem));
    }
}