#inspect-variables {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#inspect-variables #variables {
    display: flex;
    gap: 1rem;
}

#inspect-variables ul li {
    list-style: none;
    width: 10rem;
    background-color: transparent;
    border: solid white 0.1rem;
    margin: var(--margin-primary);
    border-color: white;
    padding: 0.2rem;
    font-weight: 900;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}