#demo {
    padding: 3rem;
    padding-bottom: 0;
}

#demo .demo-container {
    display: flex;
    align-items: center;
    gap: 2rem;
}

@media screen and (max-width: 70rem){
    #demo .demo-container{
        flex-direction: column-reverse;
        gap: 3rem;
    }
}