#create-bot {
    --val: calc(2*var(--margin-primary));
    display: flex;
    padding: var(--val) var(--val) 0 var(--val);
}

#create-bot .right-side-items {
    padding: 0;
    margin: 0;
    height: max-content;
    width: max-content;
    border: none;
    outline: none;
}
#create-bot .actions {
    display: flex;
}

#create-bot .actions li {
    list-style: none;
}

