#create-bot {
    --val: calc(2*var(--margin-primary));
    display: flex;
    padding: var(--val) var(--val) 0 var(--val);
}

#create-bot #right-side {
    width: calc(25vw - 4*var(--margin-primary));
    height: calc(85vh - 2*var(--margin-primary));
    min-height: 20rem;
    background-color: var(--color-primary);
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

#create-bot #left-side {
    padding: 0;
    margin: 0;
    height: max-content;
    width: max-content;
    border: none;
    outline: none;
}
#create-bot .actions {
    display: flex;
}

#create-bot .actions li {
    list-style: none;
}



@media only screen and (max-width: 70rem){
    #create-bot {
        display: grid;
        row-gap: 2.3rem;
        grid-template-areas: 
                "c c"
                "a b"
                ;
    }

    #create-bot #signal,
    #create-bot #do-your-math {
        width: calc(100vw - 4rem);
    }

    #create-bot #left-side {
        grid-area: a;
    }

    #create-bot #right-side {
        grid-area: b;
    }

    #create-bot #middle-side {
        grid-area: c;
    }

    #create-bot #left-side,
    #create-bot #right-side {
        width:max-content;
        height: max-content;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}