#search-bar form input {
    outline: none;
    padding: 0.5rem;
}

#search-bar #search-content {
    width: 80%;
}

#search-bar #search-btn {
    width: 20%;
    cursor: pointer;
    min-width: max-content;
}

#search-bar form {
    margin: 1rem;
    display: flex;
}