button {
    outline: none;
    border: var(--border-primary);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    cursor: pointer;
    margin-bottom: 0;
    background-color: transparent;
}

button:hover {
    opacity: 0.9;
}

/* button.default {
    background-color: var(--color-btn-default);
} */

button.accept {
    color: var(--color-btn-accept);
}

button.reject {
    color: var(--color-btn-reject);
    
}