#list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9rem;
    margin-top: 0.05rem;
    margin-bottom: 0.05rem;
    background-color: var(--color-gold);
    padding: 0.15rem 0.3rem 0.15rem 0.6rem;
}

#list-item #text {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#list-item #long-name {
    width: 80%;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}