#list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.7rem;
    margin-top: 0.05rem;
    margin-bottom: 0.05rem;
    background-color: rgba(218, 165, 32, 0.5);
    padding: 0.15rem 0.3rem 0.15rem 0.6rem;
}