#plain-list {
    border: solid white 0.1rem;
    padding: 1rem;
    width: calc(20vw - 2*var(--margin-primary));
    min-width: 13rem;
}

#plain-list #plain-list-title {
    padding-top: 0.5rem;
    padding-bottom: 0.8rem;
}

#plain-list ul li {
    list-style: none;
}

#plain-list .item-name-and-value {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

#plain-list .name-and-shape {
    display: flex;
    gap: 0.7rem;
}

#plain-list .item-name-and-value .name {
    font-weight: 700;
    color: rgba(128, 0, 128, 0.8);
}

#plain-list .item-name-and-value .shape {
    font-size: 0.9rem;
    opacity: 0.8;
    font-style: italic;
}

#plain-list .item-name-and-value .value {
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 50%;
    /* display: flex;
    justify-content: end; */
}