#plain-list {
    border: solid white 0.1rem;
    padding: 1rem;
    width: calc(20vw - 4*var(--margin-primary));
    margin: 1rem;
    min-width: 16rem;
}

#plain-list  .plain-list-title{
    padding-top: 0.5rem;
    padding-bottom: 0.8rem;
}
