#fundamental-list {
    border: solid white 0.1rem;
    padding: 1rem;
    width: calc(20vw - 4*var(--margin-primary));
    min-width: 23rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

#fundamental-list ul {
    max-height: 60vh;
    padding-right: 0.5rem;
    overflow-y: scroll;
}

#fundamental-list .display-none {
    display: none;
}

#fundamental-list ul li {
    list-style: none;
}

#fundamental-list  .fundamental-list-title{
    padding-top: 0.5rem;
    padding-bottom: 0.8rem;
}

#fundamental-list .fundamental-header {
    list-style: none;
    background-color: var(--color-gold);
    padding: 0.5rem;
}


#fundamental-list .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9rem;
    margin-top: 0.05rem;
    margin-bottom: 0.05rem;
    background-color: var(--color-gold);
    padding: 0.15rem 0.3rem 0.15rem 0.6rem;
    border-radius: 0.3rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    cursor: pointer;
}

#fundamental-list .header .long-name {
    width: min(80%, 15rem);
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#fundamental-list .asset-info {
    overflow-y: auto;
    padding: 0.2rem;
    border: solid var(--color-gold) 0.1rem;
    border-radius: 0.5rem;
    border-top: none;
    margin-bottom: 0.8rem;
}