#fundamental-list {
    border: solid white 0.1rem;
    padding: 1rem;
    width: calc(20vw - 2*var(--margin-primary));
    min-width: 13rem;
}

#fundamental-list  .fundamental-list-title{
    padding-top: 0.5rem;
    padding-bottom: 0.8rem;
}
