#do-your-math {
    width: calc(50vw - 2*var(--margin-primary));
    height: calc(70vh - 2*var(--margin-primary));
    padding: 1rem;
    background-color: var(--color-primary);
}

#do-your-math:focus {
    outline: solid rgba(128, 0, 128, 0.6) 0.1rem;
}