:root {
  font-size: clamp(12px, 1.5vh, 16px);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  --color-background: rgb(240, 240, 240);
  --color-primary: #D9D9D9;
  --color-text-h1: purple;
  --color-text-h2: purple;
  --color-btn-default: blue;
  --color-btn-accept: green;
  --color-btn-reject: red; 
  --margin-primary: 0.5rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  /* outline: solid red 0.1rem; */
}

body {
  background-color: var(--color-background);
}

.border-primary {
  border: 0.1rem solid var(--color-primary);
  border-radius: 0.5rem;
}

.margin-primary {
  margin: var(--margin-primary);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
