:root {
  font-size: clamp(12px, 1.5vh, 16px);
  --color-background: white;
  --color-primary: #D9D9D9;
  --color-btn-default: blue;
  --color-btn-accept: green;
  --color-btn-reject: red; 
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  /* outline: solid red 0.1rem; */
}

.border-primary {
  border: 1rem solid var(--color-background);
  margin: clamp(6px, 0.75vh, 8px);
  border-radius: 0.5rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
