#item-list {
    width: calc(25vw - 2*var(--margin-primary));
    min-width: 15rem;
    min-height: 20rem;
    background-color: var(--color-primary);
    padding-bottom: 1rem;
}

#item-list h2 {
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    font-size: 1.2rem;
    color: var(--color-text-h2);
}

#item-list #the-list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 25vh;
    margin-top: 1rem;
    padding-bottom: 1rem;
}

#item-list #empty-list-message {
    font-weight: 900;
    text-justify: center;
    margin: var(--margin-primary);
}