#item-list {
    width: calc(25vw - 2*var(--margin-primary));
    height: calc(30vh - 2*var(--margin-primary));
    min-width: 13rem;
    min-height: 20rem;
    background-color: var(--color-primary);
}

#item-list h2 {
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    color: var(--color-text-h2);
}

#item-list #the-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}